.control {
  display: flex;
  padding: 4px;
  background-color: rgb(247, 242, 242);
}

.control label {
  width: 30%;
  font-weight: bold;
  margin-top: 0.2rem;
  text-align: center;
}

.control input {
  width: 70%;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}
