.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.dark {
  background-color: rgb(120, 117, 117);
  box-shadow: 0 2px 8px rgba(251, 250, 250, 0.204);

}

.dark h3 {
  color: rgb(228, 222, 222);
}

.dark p {
  color: rgb(228, 222, 222);
}

.dark address {
  color: rgb(228, 222, 222);
}

.dark button {
  font: inherit;
  cursor: pointer;
  color: rgb(207, 203, 203);
  border: 1px solid rgb(195, 192, 192);
  background-color: #403e3f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin-left: 1rem;
}

.dark button:hover,
.dark button:active {
  background-color: #837f81;
}
